@import 'styles/shared.scss';

.contactList {
  @extend %list;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__number {
    font-size: 15px;
    font-weight: 600;
    color: #1565c0;
  }

  &__btn {
    @extend %button;

    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #0c6dfd;
    color: #fafafa;
    font-weight: 500;
    transition: all 250ms linear;

    &:hover {
      background-color: #dc3444;
    }
  }
}
